hostname {{ site_code }}-WLC{{ WLC_number }}

{% for vl in std_vlans.vlan %}
vlan {{ vl.number}}
name {{ vl.name }}
interface vlan {{ vl.number }}
ip address {{ vl.svi }}
no shutdown
exit
{% endfor %}

interface vlan 999
description bogon non-routeable
exit
ip route 0.0.0.0 0.0.0.0 {{ gateway }}
interface vlan 1
shutdown
exit
wireless management interface vlan {{ wlan_mgmt_intf }}

{% for intf in interfaces %}
interface {{ intf.interface }}
description {{ intf.name }}
switchport mode {{ intf.mode }}
channel-group 1 mode on
{% endfor %}
interface po1
description PortChannel to {{remote_hostname}}
switchport mode trunk
switchport nonegotiate
exit
!
ntp server 10.1.10.13
ntp server 10.159.12.29
ntp source vlan {{ wlan_mgmt_intf }}
ip domain lookup source-interface {{ wlan_mgmt_intf }}
!