{% for intf in interfaces %}
interface {{ intf.interface }}
description {{ intf.name }}
switchport mode {{ intf.mode }}
channel-group 1 mode on
{% endfor %}
interface po1
description PortChannel to {{remote_hostname}}
switchport mode trunk
switchport nonegotiate
exit